<div class="container">
    <ul class="list-inline text-center">

      <li class="list-inline-item">
        <a href="{{ site.linkedin }}">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x" style="Black"></i>
            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item">
        <a href="{{ site.medium }}">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x" style="Black"></i>
            <i class="fab fa-medium fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item">
        <a href="{{ site.github }}">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x style="Black""></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

    </ul>
  </div>
